@media (max-width: 1024px){
	html{
		font-size: 55%;
	}
}

@media (height: 1366px){
	section{
	    min-height: 50vh;
	    padding:1rem;
	}
	.about h1{
		font-size: 4rem;
	}
}

@media (max-width: 991px){

	header{
		left: -120%;
	}

	#menu{
		display: block;
	}

	header.toggle{
		left: 0%;
	}

	body{
		padding: 0;
	}

	.about{
		padding: 2rem;
	}
}


@media (max-width: 767px){
	header{
		width: 100vw;
	}

	.about h1{
		font-size: 3rem;
	}
	.projects .icon-box p{
		line-height: 2rem;
		font-size: 1.7rem;
	}

	.skills{
		margin: 4rem 1.2rem;
	}

	.contact .row form{
	    flex:1 1 45rem;
	    padding:2rem;
	    margin:1.5rem;
	    margin-bottom: 4rem;
	}
}

@media (max-width: 330px){
	.about h1{
		font-size: 2.7rem;
	}

	header{
		width: 100vw;
	}


}
